<div class="d-flex">

  <!-- Start SIdebar -->

  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      Gifs-App
    </h3>

    <hr class="text-white">
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">
        Dashboard
      </a>
    </div>
  </div>

  <!-- End SIdebar -->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
      <hr class="m-3">

      <div class="row">
        <div class="col">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga amet quas, doloremque, minus a quod,
          necessitatibus itaque quidem ut provident sit fugit doloribus laudantium ipsum modi. Ex ullam quae amet.
        </div>
      </div>


    </div>


  </div>

</div>